<ul class="list">
  {{#each this.model as |user|}}
    <a href={{user.html_url}}>
      <li>
        <img class="avatar" src={{user.avatar_url}} />
        {{user.login}}
      </li>
    </a>
  {{/each}}
</ul>
{{outlet}}
