<ul>
    {{#each this.model as |issue|}}
      <li>Issue #{{issue.number}} - {{issue.title}}</li>
        <p>{{issue.body}}</p>
      {{!-- <li># 123  - Issue description goes here</li> --}}
    {{/each}}
</ul>
{{outlet}}
